localhost:80 lambdacademy.dev {
  ratelimit * * 4 8 second
  tls hey@guillaumebogard.dev
  root /www/front
  rewrite /dashboard/{path} {
    to dashboard/{path} dashboard/index.html
  } 
}

localhost:8080 {
  proxy / api:8080
}

www.lambdacademy.dev {
  tls hey@guillaumebogard.dev
  redir https://lambdacademy.dev{uri}
}

api.lambdacademy.dev {
  ratelimit * * 4 8 second
  tls hey@guillaumebogard.dev
  proxy / api:8080
}