(common) {
  ratelimit * / 3 5 second
  tls off
  log stdout
}

www.lambdacademy.dev:80 {
  import common
  redir https://lambdacademy.dev{uri}
}

lambdacademy.dev:80 {
  import common
  root /www/front/showcase
}

dashboard.lambdacademy.dev:80 {
  import common
  root /www/front/dashboard
  rewrite {
    to {path} {path}/ /
  }
}

api.lambdacademy.dev:80 {
  import common
  proxy / api:8080
}