localhost:80 lambdacademy.dev {
  tls off
  root /www/front
  rewrite /dashboard/{path} {
    to dashboard/{path} dashboard/index.html
  } 
}

localhost:8080 {
  proxy / api:8080
}

www.lambdacademy.dev {
  tls off
  redir https://lambdacademy.dev{uri}
}

api.lambdacademy.dev {
  tls off
  proxy / api:8080
}