$main-colors: (
  primary: $primary,
  light: $light,
  dark: $dark,
  success: $success,
  info: $info,
  danger: $danger,
  white: $white,
  very-light: $very-light,
);

@each $name, $color in $main-colors {
  .text-#{"" + $name} {
    color: $color;
  }
}

@each $name, $color in $main-colors {
  .bg-#{"" + $name} {
    background: $color;
  }
}
