.container {
  padding: $spacer $spacer 0 $spacer;
  @include breakPoint($mediumBreakPoint) {
    margin: 0 auto;
    max-width: $mediumBreakPoint;
  }
  @include breakPoint($largeBreakPoint) {
    max-width: $largeBreakPoint;
  }
  @include breakPoint($veryLargeBreakPoint) {
    max-width: $veryLargeBreakPoint;
  }
}

.container-fluid {
  padding: $spacer $spacer 0 $spacer;
}

.container-with-large-padding {
  padding: $spacer * 2;
  @include breakPoint($mediumBreakPoint) {
  padding: 150px
  }
}