@import "./variables.scss";
@import "./layout.scss";
@import "./containers.scss";
@import "./typography.scss";
@import "./colors.scss";

// Import components
@import "./components/CourseItem.scss";
@import "./components/Navbar.scss";
@import "./components/SimplePageLayout.scss";

html, body {
  min-height: 100vh;
  background: $body-bg;
  padding: 0;
  margin: 0;
}