$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #ddd;
$gray-300: #ccc;
$gray-400: #bbb;
$gray-500: #adb5bd;
$gray-600: #777;
$gray-700: #444;
$gray-800: #373a3c;
$gray-900: #212529;
$black:    #000;

$primary:       #9799ca;
$secondary:     $white;
$success:       #5dcc57;
$info:          #7bcdba;
$warning:       #ea8a56;
$danger:        $warning;
$light:         $gray-200;
$very-light:    $gray-100;
$dark:          $gray-800;

$body-bg: $gray-100;

$spacer: 1.5rem;

$mediumBreakPoint: 768px;
$largeBreakPoint: 1200px;
$veryLargeBreakPoint: 1500px;

$baseBorderRadius: .25rem;