.button {
  display: inline-block;
  color: $white;
  padding: $spacer/3;
  border-radius: $baseBorderRadius;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
  display: inline-flex;
  font-size:.75rem;
  .ion {
    font-size: 1rem;
  }

  &:not(:last-child) {
    margin-right: $spacer/2;
  }

  @each $name, $color in $main-colors {
    $darker-tone: darken($color: $color, $amount: 10);
    &.button-#{$name} {
      border: $darker-tone solid 1px;
      background-image: linear-gradient($color, $darker-tone);

      &:disabled {
        border: none;
        background: desaturate($color, $amount: 5);
        cursor: not-allowed;
      }

      &:active {
        background: $darker-tone;
      }
    }
  }
}
