.button {
  display: inline-block;
  color: $white;
  padding: $spacer/3;
  border: none;
  border-radius: $baseBorderRadius;

  @each $name, $color in $main-colors {
    &.button-#{$name} {
      background: $color;

      &:disabled {
        background: desaturate($color: lighten($color: $color, $amount: 40), $amount: 20);
        cursor: not-allowed;
      }
    }
  }
}
