.code-widget {
  @extend .box;
  padding: 0;

  .topbar {
    padding: $spacer/2;
    border-bottom: solid 1px $light;
  }

  .editor {
    min-height: 4rem;
  }

  .output {
    max-height: 190px;
    border-top: 1px solid $light;
    position: relative;
    overflow: hidden;

    i {
      position: absolute;
      top: $spacer;
      right: $spacer;
      font-size: 1.5rem;
      cursor: pointer;
    }

    >.content {
      height: 100%;
      padding: $spacer $spacer*2 $spacer $spacer;
      font-family: monospace;
      font-size: .9rem;
      background: $very-light;
      overflow-y: auto;
      box-sizing: border-box;
    }
  }
}
