.course-item {
  background: $light;
  height: 100%;

  .img-container {
    height: 150px;
    background-size: cover;
  }

  .description {
    padding: $spacer;
  }

  .title {
    margin: 0;
    color: $white;
    background: $primary;
    padding: $spacer;
  }
}
