$navbar-height: 56px;

.navbar-spacer {
  height: $navbar-height;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: $navbar-height;
  overflow: hidden;
  padding: 0 $spacer;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 5px 1px rgba(0,0,0,.15);
  z-index: 1000;

  a {
    color: inherit;
  }

  .menu-icon {
    font-size: 1.5rem;
    margin: 0 $spacer 0 0;
  }

  .course-title {
    cursor: pointer;
    height: $navbar-height;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, .1);
    padding: 0 $spacer / 2;
    margin: 0 $spacer;
    white-space: nowrap;
  }
}