$sidebar-width: 320px;

.simple-page-layout {
  display: grid;
  height: 100vh;
  grid-template-rows: $navbar-height 1fr;
  grid-template-columns: 1fr;

  >.content {
    overflow-y: auto;
    &:after {
      content: "";
      display: block;
      height: $spacer;
      width: 100%;
    }
  }
  
  @include breakPoint($largeBreakPoint) {
    grid-template-columns: $sidebar-width 1fr;

    .navbar-spacer {
      grid-column: 1 / 3;
    }
  }
}