doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='../scss/global.scss')
    base(href=process.env.DASHBOARD_URL + "/")
    title Lambdacademy - Dashboard
  body
    #app
      | You must enable Javascript to see this page.
    script(src='./Index.re')
